*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primary);
}

header{
    background-color: var(--color-secondary);
    padding: 0 60px;
    height: 80px;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .civic-logo{
        height: 21px;
        transition: ease-in 0.5s;

        @media (min-width:620px){
            height: 32px;
            max-width: 660px;
        }
    }

    h1{
        display: none;
    }

    button{
        transform: translateY(85%);
        svg{
            width: 2.8rem;
            aspect-ratio: 1 / 1;
        }
    }
    nav{
        height: 100vh;
        width: 100vw;
        border: none;
        background: linear-gradient(to bottom, var(--color-primary)70%, var(--color-text-secondary) 70% );
        left: auto;
        

        button{
            position: absolute;
            right: 3.7rem;
            top: 1rem;
        }

        ul{
            list-style: none;
            li{
                font-family: var(--font-family-heading);
                line-height: var(--line-hight-xl);
                font-size: var(--font-size-p-m);
                letter-spacing: 0.1rem;                                                        /* variabelen voor letter spacing?*/
                a{
                    text-decoration: none;
                    color: var(--color-text-primary);
                    &:hover{
                        color: var(--color-lightblue);
                    }
                }

                &:nth-last-child(2){
                    margin-top: 13vh;
                }

                &:nth-last-child(-n+2):hover{
                    color: var(--color-highlight);
                }
            }
        }
    }
    
}

.hero-section{
    img{
        display: block;
        width: 100%;
        aspect-ratio: 16/7;
        object-fit: cover;
        object-position: 0px -120px;
        padding: 3rem;
    }
    h1{
        /*opmaak*/
        font-family: var(--font-family-heading);
        font-size: 5.5rem;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-hight-xl);
        text-transform: uppercase;

        /*positionering*/
        position: relative;
        margin-top: -11rem;
        padding: 3rem;

        div{
            display: block;
            width: max-content;
            background-color: var(--color-highlight);
            padding: 1.5rem;

            &:first-child{
                outline: 0.3em solid var(--color-primary);
            }
            &:last-child{
                position: relative;
                margin-left: 11rem;
                margin-top: -0.2rem;
            }
        }
        
        p{}
    }
}