*{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--color-secondary);
    padding: 0 60px;
    height: 80px;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .civic-logo{
        height: 21px;
        transition: ease-in 0.5s;

        @media (min-width:620px){
            height: 32px;
            max-width: 660px;
        }
    }

    h1{
        display: none;
    }

    button{
        transform: translateY(85%);
        svg{
            width: 2.8rem;
            aspect-ratio: 1 / 1;
        }
    }
    nav{
        height: 100vh;
        width: 20vw;
        border: none;
        border-left: solid 1px var(--color-beige);
        background: linear-gradient(to bottom, var(--color-primary)77%, var(--color-text-secondary) 77% );
        left: auto;

        ul{
            list-style: none;
            padding: 20vh 4vw;
            li{
                line-height: 3.5rem;
                font-family: var(--font-family-heading);
                a{
                    text-decoration: none;
                    color: var(--color-text-primary);
                    &:hover{
                        color: var(--color-lightblue);
                    }
                }

                &:nth-last-child(2){
                    margin-top: 2vh;
                }

                &:nth-last-child(-n+2):hover{
                    color: var(--color-highlight);
                }
            }
        }
    }
    
}

