*{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--color-secondary);
    padding: 0 60px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg{
        height: 21px;
        transition: ease-in 0.5s;

        @media (min-width:620px){
            height: 32px;
            max-width: 660px;
        }
    }

    button{
        transform: translateY(85%);
        svg{
            width: 2.8rem;
            aspect-ratio: 1 / 1;
        }
    }
    nav{
        button{}
        ul{
            li{
                a{}
            }
        }
    }
}