*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primary);
}

header{
    background-color: var(--color-secondary);
    padding: 1rem 3.7rem;
    position: sticky;
    z-index: 100;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .civic-logo{
        height: 21px;
        transition: ease-in 0.5s;

        @media (min-width:620px){
            height: 32px;
            max-width: 660px;
        }
    }

    button{
        transform: translateY(85%);
        svg{
            width: 2.8rem;
            aspect-ratio: 1;
        }
    }

    nav{
        position: absolute;
        height: 100vh;
        width: 100vw;
        border: none;
        max-width: 600px;
        overflow: hidden;

        @media (min-width:620px){
            width: 75vw;
            left: auto;
        }

        button{
            position: absolute;
            right: 3.7rem;
            top: 1rem;
        }

        ul{
            list-style-type: '';
            padding: 10rem 4rem;

            li{
                font-family: var(--font-family-heading);
                padding: 0.8rem;
                font-size: var(--font-size-p-xl);
                font-weight: var(--font-weight-light);
                letter-spacing: 0.1em;
                a{
                    text-decoration: none;
                    color: var(--color-text-primary);
                    transition: var(--transition-2);
                    &:hover{
                        color: var(--color-highlight);
                    }
                }
            }
        }

        .upper-nav{
            background-color: var(--color-primary);
            flex: 8;
        }
        .lower-nav{
            padding: 5rem 4rem;
            background-color: var(--color-text-secondary);
            flex: 2;
        }
    }
}

.hero-section{
    img{
        display: block;
        width: 100%;
        aspect-ratio: 16/7;
        object-fit: cover;
        object-position: 0px -120px;
        padding: 3rem;
    }

    .hero-text{
        display: flex;
        flex-wrap: wrap;
        h1{
            /*opmaak*/
            font-family: var(--font-family-heading);
            font-size: clamp(2.2rem, 6vw, 5.5rem);
            font-weight: var(--font-weight-normal);
            line-height: 0.7;
            text-transform: uppercase;

            /*positionering*/
            position: relative;
            margin-top: -11rem;
            padding: 3rem;

            .hero-title-line{
                display: block;
                width: max-content;
                background-color: var(--color-highlight);
                padding: 1.5rem;

                &:first-child{
                    outline: 0.3em solid var(--color-primary);
                }

                &:last-child{
                    position: relative;
                    margin-left: 11rem;
                }
            }
        }

        p{
            font-family: var(--font-family-sans);
            font-size: var(--font-size-p-xl);
            color: var(--color-highlight);
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: -1rem;
            letter-spacing: 0.1em;
        }
    }
}

main{
    background-color: var(--color-text-primary);
}

.filter-section{ 
    display: none;
}

.article-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(0.5rem, 2vw, 2rem);
    padding: 3rem;

    @media screen and (min-width:700px) {grid-template-columns: 1fr 1fr;}
    @media screen and (min-width:1000px) {grid-template-columns: 1fr 1fr 1fr;}
    @media screen and (min-width:1200px) {grid-template-columns: 1fr 1fr 1fr 1fr;}

    h2{
        display: none;
    }

    article{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;

        figure{
            overflow: hidden;
            aspect-ratio: 16/10;
            img{
                width: 100%;
                height: 100%;
                transition: var(--transition-1);
                object-fit: cover;
            }
        }

        .article-text{
            padding: 1rem;
            h4{
                margin-bottom: 2rem;
                font-family: var(--font-family-sans);
                letter-spacing: 0.03em;
                transition: var(--transition-1);
                line-height: var(--line-hight-m);
                mark{
                    background-color: inherit;
                    transition: ease-in-out 0.5s;
                }
                
            }
            p{
                line-height: var(--line-hight-l);
                margin-bottom: 2.5rem;
            }
        }

        a{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1rem;
            text-decoration: none;
            color: var(--color-text-secondary);
            font-family: var(--font-family-serif);
            font-weight: var(--font-weight-light);

            &::after{
                position: absolute;
                cursor: pointer;
                content: "";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            svg{
                transition: ease-in 1s;
                opacity: 0;
            }
        }

        &:hover{
            .article-text h4 mark{
                background-color: var(--color-text-secondary);
                color: var(--color-text-primary);
            }
            svg{
                opacity: 1;
            }
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    
    .upper-footer{
        background-color: var(--color-text-secondary);
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;

        @media screen and (min-width:800px){
            grid-template-columns: 1fr 1fr;
        }

        .project-info{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            max-width: 500px;
            h4{
                padding-bottom: 0.5em;
            }
            p{
                color: var(--color-text-primary);
                padding-bottom: 0.5em;
                &:nth-of-type(2){
                    padding-bottom: 1.5em;
                }
            }
            img{
                width: 25em;
                padding-top: 1rem;
                margin-left: -0.7rem;
            }
        }
        .community-info{
            max-width: 500px;
            h5{
                padding-bottom: 0.5em;
            }
            p{
                color: var(--color-text-primary);
                line-height: var(--line-hight-m);
                padding-bottom: 1.5em;
            }
            form{
                background-color: black;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 400px;
                label{
                    flex: 1;
                }
                input{
                    padding: 0.2em;
                }
                button{
                    padding: 0.2em;
                }
            }
        }
    }
    
    .lower-footer{
        background-color: var(--color-primary);
        padding: 3rem;
        h4{
            color: var(--color-text-primary);
            margin-bottom: 3em;
        }
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            list-style-type: '';
            justify-content: center;
            text-align: center;
            
            @media screen and (min-width:850px) {
                grid-template-columns: repeat(5, 1fr);
            }
            img{
                width: 150px;
            }
        }
        
    }
}


/*---------------------------------------------deatail pagina-----------------------------------------------*/

p a{
    color: var(--color-highlight);
}

.download{
    .download-svg{
        color: var(--color-error);
    }
    .download-link{
        font-size: var(--font-size-p-s);
        color: var(--color-text-secondary);
    }
}

.hero-section-detail-page{
    background-color: var(--color-highlight);
    height: 50vh; /*dit gaat weg even kijken*/
}

.main-detail-page{
    padding: 15rem;

    .paragraph{
        padding: 1rem 0;
    }
}

.comment-section{
    background-color: var(--color-highlight);
    height: 50vh; /*dit gaat weg even kijken*/
    padding: 2rem 0;
    form{
        margin: auto;
        width: 50vw;
        background-color: var(--color-highlight);
    }
}

.btn-back{
    margin: 3rem;
}

.h1-dtp{
    margin: 3rem;
}